.git
.github
.venv
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3.backup
media/temp_uploads/*
logs/*
staticfiles/*
.env
.env.*
node_modules/
docker-compose.yml
Dockerfile
README.md
checklist.md
deliverables/*
